@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');
@import "tailwindcss";




@theme {
  --font-JetBrains-Mono: "JetBrains Mono", monospace;

  --color-PrimaryNeon: #cef737;

  /* container of converter */
  --color-BlackLight: #171719;

  /* sned recive /background */
  --color-BlackSR: #202022;



  --animate-scroll: scroll 2000s linear infinite;

  /* instead of creating a tailwind.config.js  */
  /* we directly used it here */

  @keyframes scroll {
    from {
      transform: translateX(0)
    }

    to {
      transform: translateX(-50%)
    }

  }

}